<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Pages>70</Pages>
  <Words>2850</Words>
  <Characters>4055</Characters>
  <TotalTime>8</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>4303</CharactersWithSpaces>
  <Application>WPS Office_12.1.0.28043_F1E327BC-269C-435d-A152-05C5408002CA</Application>
</Properties>
